pandas
pytube
yt_dlp
pydub
langchain
langchain-community
langchain-openai
langchain-chroma
openai
python-dotenv
tqdm
chromadb
tiktoken
youtube-transcript-api
streamlit
selenium 
webdriver-manager
lxml
requests
beautifulsoup4
progressbar
html5lib
sentence-transformers
llama-cpp-python
pytest
pytest-cov
